@font-face {
  font-family: "Source Code Pro Light";
  src: local("Source Code Pro Light"),
    url("./fonts/Source_Code_Pro/SourceCodePro-Light.ttf");
}

.movie-cards {
  font-family: "Source Code Pro Light";
}
