@font-face {
  font-family: "Source Code Pro Regular";
  src: local("SourceCodePro-Regular"),
    url("../../fonts/SourceCodePro-Regular.ttf");
}

.movie-cards,
.movie-view {
  font-family: "Source Code Pro Regular";
}
